---
University Paris 1 Panthéon-Sorbonne 

Introduction to Machine Learning

Dr. Nourhène BEN RABAH

---

# Lab 1: Preparing data with Pandas


#### Here is the documentation for the Pandas data structure [`DataFrame`](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.html).


#### You must send the notebook completed during the session on Discord.

---

### Part 1. Cheese.csv

#### Step 0. Import the Pandas library

In [8]:
import pandas as pd
df = pd.read_csv('cheese.csv')

#### Step 1. Import the dataset

Start by importing the cheese.csv file. To do this, use the function [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

#### Step 2. Look at the first and last lines

Looking at the first and last lines allows you to : 
- Check that the import has gone  properly
- Get a quick overview of what our dataframe will look like

In [9]:
# First lines
print(df.head())

  cheese;calories;sodium;calcium;lipides;retinol;folates;proteines;cholesterol;magnesium
0  CarredelEst;314;353.5;72.6;26.3;51.6;30.3;21;7...
1     Babybel;314;238;209.8;25.1;63.7;6.4;22.6;70;27
2   Beaufort;401;112;259.4;33.3;54.9;1.2;26.6;120;41
3       Bleu;342;336;211.1;28.9;37.1;27.5;20.2;90;27
4   Camembert;264;314;215.9;19.5;103;36.4;23.4;60;20

In [10]:
#Last lines 
print(df.tail())

   cheese;calories;sodium;calcium;lipides;retinol;folates;proteines;cholesterol;magnesium
24  Rocquefort;370;432;162;31.2;83.5;13.3;18.7;100;25
25   SaintPaulin;298;205;261;23.3;60.4;6.7;23.3;70;26
26        Tome;321;252;125.5;27.3;62.3;6.2;21.8;80;20
27      Vacherin;321;140;218;29.3;49.2;3.7;17.6;80;30
28  Yaourtlaitent.nat.;70;91;215.7;3.4;42.9;2.9;4....

Looking at these lines, you've probably noticed that the import didn't go well. So you're going to import the dataset correctly. You'll use ';' as a delimiter and specify that the first line (index 0) contains the column names.
You can then check again.

In [15]:
# Import the dataset correctly 
df = pd.read_csv('cheese.csv', sep = ';', engine = 'python')

As you can see default behavior of header (no names are passed)is identical to header=0 and column names are inferred from the first line of the file

#### Step 3. Check column types

The second thing to do is a quick check on the types of each column assigned by pandas during import, once again to verify that the import has gone well. Display all column types and what do you notice ?

In [17]:
# Column types
df.dtypes

cheese          object
calories         int64
sodium         float64
calcium        float64
lipides        float64
retinol        float64
folates        float64
proteines      float64
cholesterol      int64
magnesium        int64
dtype: object

You can note that object type columns are usually used to store text data, such as names, descriptions, or other textual information.

#### Step 4. What is the number of observations in the dataset?

How many rows and columns are contained in our file?

In [22]:
rows = len(df.axes[0])
cols = len(df.axes[1])
print("number of rows:", rows)
print("number of columns:", cols)

number of rows: 29
number of columns: 10

#### Step 5. What is the information about the first cheese in the dataset? 

Now it's time to use the selection function that will be most useful to you, the [`iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) method. Pandas' .iloc[] indexer is used to select data by position, mainly with integer indices. 

Here's a breakdown of the possible values for .iloc[]:
- a) Single integer: You can pass a single integer to select a specific row or column at that position.
- b) You can pass a list of integers to select multiple rows or columns at specific positions
- c) Slicing with integers: You can use slicing with integers to select a range of rows or columns. 
- d) Mixing integers and slices
- e) Boolean arrays: You can also use boolean arrays to select rows or columns based on a condition.

In [32]:
#selects the first row of the DataFrame.
first_row = df.iloc[0]
print("first row is :\n", first_column)

first row is :
 cheese         CarredelEst
calories               314
sodium               353.5
calcium               72.6
lipides               26.3
retinol               51.6
folates               30.3
proteines             21.0
cholesterol             70
magnesium               20
Name: 0, dtype: object

#### Step 6. Change the name of the variable `cheese` to `cheese_name`.

In [39]:
#Rename the variable
df.rename(columns={"cheese": "cheese_name"}, inplace=True)

#### Step 7. Which cheese exist in the dataset?

In [40]:
print(df['cheese_name'].to_string(index=False))

       CarredelEst
           Babybel
          Beaufort
              Bleu
         Camembert
            Cantal
         Chabichou
          Chaource
           Cheddar
             Comte
       Coulomniers
              Edam
          Emmental
Fr.chevrepatemolle
       Fr.fondu.45
    Fr.frais20nat.
    Fr.frais40nat.
         Maroilles
           Morbier
          Parmesan
     Petitsuisse40
       PontlEveque
          Pyrenees
         Reblochon
        Rocquefort
       SaintPaulin
              Tome
          Vacherin
Yaourtlaitent.nat.

##### Step 8. Quick analysis of our dataset information

Use the [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) and [`info`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) functions to get some quick information about the variables in our dataframe. From these descriptions, can you determine the number of non-zero elements in the dataset?

In [41]:
# Describe function 
df.describe()

,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,300.034483,210.086207,185.734483,24.158621,67.562069,13.010345,20.168966,74.586207,26.965517
std,91.914356,108.678923,72.528882,8.129642,24.163098,11.723339,6.959788,28.245755,11.318388
min,70.000000,22.000000,72.600000,3.400000,37.100000,1.200000,4.100000,10.000000,10.000000
25%,292.000000,140.000000,132.900000,23.400000,51.600000,4.900000,17.800000,70.000000,20.000000
50%,321.000000,223.000000,202.300000,26.300000,62.300000,6.400000,21.000000,80.000000,26.000000
75%,355.000000,276.000000,220.500000,29.100000,76.400000,21.100000,23.400000,90.000000,30.000000
max,406.000000,432.000000,334.600000,33.300000,150.500000,36.400000,35.700000,120.000000,51.000000

In [45]:
# info function 
df.info()
print('\n count() :')
df.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cheese_name  29 non-null     object
 1   calories     29 non-null     int64
 2   sodium       29 non-null     float64
 3   calcium      29 non-null     float64
 4   lipides      29 non-null     float64
 5   retinol      29 non-null     float64
 6   folates      29 non-null     float64
 7   proteines    29 non-null     float64
 8   cholesterol  29 non-null     int64
 9   magnesium    29 non-null     int64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.4+ KB

 count() :

cheese_name    29
calories       29
sodium         29
calcium        29
lipides        29
retinol        29
folates        29
proteines      29
cholesterol    29
magnesium      29
dtype: int64

As you can note the count function displays the number of non-null values.

##### Step 9. Selection within a dataframe

###### a) We've already seen how to select a column. Using a similar script, select two columns of your choice.

In [48]:
columns = df[['cheese_name', 'calories']]
print(columns)

           cheese_name  calories
0          CarredelEst       314
1              Babybel       314
2             Beaufort       401
3                 Bleu       342
4            Camembert       264
5               Cantal       367
6            Chabichou       344
7             Chaource       292
8              Cheddar       406
9                Comte       399
10         Coulomniers       308
11                Edam       327
12            Emmental       378
13  Fr.chevrepatemolle       206
14         Fr.fondu.45       292
15      Fr.frais20nat.        80
16      Fr.frais40nat.       115
17           Maroilles       338
18             Morbier       347
19            Parmesan       381
20       Petitsuisse40       142
21         PontlEveque       300
22            Pyrenees       355
23           Reblochon       309
24          Rocquefort       370
25         SaintPaulin       298
26                Tome       321
27            Vacherin       321
28  Yaourtlaitent.nat.        70

###### b) Using the [`loc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) method, select and determine the cheese with the lowest calories (less than 100):

In [49]:
#.loc 
df.loc[df['calories']<100]

,cheese_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
15,Fr.frais20nat.,80,41.0,146.3,3.5,50.0,20.0,8.3,10,11
28,Yaourtlaitent.nat.,70,91.0,215.7,3.4,42.9,2.9,4.1,13,14

###### c) Select only the names of these cheese

In [50]:
df.loc[df['calories']<100, ['cheese_name']]

           cheese_name
15      Fr.frais20nat.
28  Yaourtlaitent.nat.

###### d) Now select the information describing cheese of less than 100 calories with protein >5

In [52]:
df.loc[(df['calories']<100) & (df['proteines'] > 5)]

,cheese_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
15,Fr.frais20nat.,80,41.0,146.3,3.5,50.0,20.0,8.3,10,11

###### e) On these cheese, select only their name and the number of proteins.

In [53]:
df.loc[(df['calories']<100) & (df['proteines'] > 5), ['cheese_name','proteines'] ]

       cheese_name  proteines
15  Fr.frais20nat.        8.3

###### f) Finally, create a new dataframe containing only cheeses with calories greater than or equal to 100.

In [54]:
df.loc[(df['calories']>=100)]

,cheese_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
0,CarredelEst,314,353.5,72.6,26.3,51.6,30.3,21.0,70,20
1,Babybel,314,238.0,209.8,25.1,63.7,6.4,22.6,70,27
2,Beaufort,401,112.0,259.4,33.3,54.9,1.2,26.6,120,41
3,Bleu,342,336.0,211.1,28.9,37.1,27.5,20.2,90,27
4,Camembert,264,314.0,215.9,19.5,103.0,36.4,23.4,60,20
5,Cantal,367,256.0,264.0,28.8,48.8,5.7,23.0,90,30
6,Chabichou,344,192.0,87.2,27.9,90.1,36.3,19.5,80,36
7,Chaource,292,276.0,132.9,25.4,116.4,32.5,17.8,70,25
8,Cheddar,406,172.0,182.3,32.5,76.4,4.9,26.0,110,28
9,Comte,399,92.0,220.5,32.4,55.9,1.3,29.2,120,51
10,Coulomniers,308,222.0,79.2,25.6,63.6,21.1,20.5,80,13
11,Edam,327,148.0,272.2,24.7,65.7,5.5,24.7,80,44
12,Emmental,378,60.0,308.2,29.4,56.3,2.4,29.4,110,45
13,Fr.chevrepatemolle,206,160.0,72.8,18.5,150.5,31.0,11.1,50,16
14,Fr.fondu.45,292,390.0,168.5,24.0,77.4,5.5,16.8,70,20
16,Fr.frais40nat.,115,25.0,94.8,7.8,64.3,22.6,7.0,30,10
17,Maroilles,338,311.0,236.7,29.1,46.7,3.6,20.4,90,40
18,Morbier,347,285.0,219.0,29.5,57.6,5.8,23.6,80,30
19,Parmesan,381,240.0,334.6,27.5,90.0,5.2,35.7,80,46
20,Petitsuisse40,142,22.0,78.2,10.4,63.4,20.4,9.4,20,10
21,PontlEveque,300,223.0,156.7,23.4,53.0,4.0,21.1,70,22
22,Pyrenees,355,232.0,178.9,28.0,51.5,6.8,22.4,90,25
23,Reblochon,309,272.0,202.3,24.6,73.1,8.1,19.7,80,30
24,Rocquefort,370,432.0,162.0,31.2,83.5,13.3,18.7,100,25
25,SaintPaulin,298,205.0,261.0,23.3,60.4,6.7,23.3,70,26
26,Tome,321,252.0,125.5,27.3,62.3,6.2,21.8,80,20
27,Vacherin,321,140.0,218.0,29.3,49.2,3.7,17.6,80,30

### Part 2. Missing values 

##### Step 11. Create new variables

We're going to create a new column named 'dietetics' that indicates whether the cheese is suitable for a diet or not, based on the criteria "number of calories < 100" and "number of proteins > 5".

In [58]:
df['dietetics'] = ((df['calories'] < 100) & (df['proteines'] > 5)).map({True: 'Oui', False: 'Non'})

We're now going to deal with a DataFrame with problems. You will import the CSV file named 'cheese_V2'.

In [116]:
cheese_V2 = pd.read_csv('cheese_V2.csv', sep = ';', engine = 'python')
print(cheese_V2)

                cheese  calories  sodium  calcium  lipides  retinol  folates  \
0          CarredelEst     314.0   353.5     72.6     26.3     51.6     30.3
1              Babybel     314.0   238.0    209.8     25.1     63.7      6.4
2             Beaufort     401.0   112.0    259.4     33.3     54.9      1.2
3                 Bleu     342.0   336.0    211.1     28.9     37.1     27.5
4            Camembert     264.0   314.0    215.9     19.5    103.0     36.4
5               Cantal     367.0   256.0    264.0     28.8     48.8      5.7
6            Chabichou     344.0   192.0     87.2     27.9     90.1     36.3
7             Chaource     292.0   276.0    132.9     25.4    116.4     32.5
8              Cheddar     406.0   172.0    182.3     32.5     76.4      4.9
9                Comte     399.0    92.0    220.5     32.4     55.9      1.3
10         Coulomniers     308.0   222.0     79.2     25.6     63.6     21.1
11                Edam     327.0   148.0    272.2     24.7     65.7      5.5
12            Emmental     378.0    60.0    308.2     29.4     56.3      2.4
13  Fr.chevrepatemolle     206.0   160.0     72.8     18.5    150.5     31.0
14         Fr.fondu.45     292.0   390.0    168.5     24.0     77.4      5.5
15      Fr.frais20nat.      80.0    41.0    146.3      3.5     50.0     20.0
16      Fr.frais40nat.     115.0    25.0     94.8      7.8     64.3     22.6
17           Maroilles     338.0   311.0    236.7     29.1     46.7      3.6
18             Morbier     347.0   285.0    219.0     29.5     57.6      5.8
19            Parmesan     381.0   240.0    334.6     27.5     90.0      5.2
20       Petitsuisse40     142.0    22.0     78.2     10.4     63.4     20.4
21         PontlEveque     300.0   223.0    156.7     23.4     53.0      4.0
22            Pyrenees     355.0   232.0    178.9     28.0     51.5      6.8
23           Reblochon     309.0   272.0    202.3     24.6     73.1      8.1
24          Rocquefort     370.0   432.0    162.0     31.2     83.5     13.3
25         SaintPaulin     298.0   205.0    261.0     23.3     60.4      6.7
26                Tome     321.0   252.0    125.5     27.3     62.3      6.2
27            Vacherin     321.0   140.0    218.0     29.3     49.2      3.7
28  Yaourtlaitent.nat.       NaN     NaN      NaN      NaN      NaN      NaN

    proteines  cholesterol  magnesium  unnamed
0        21.0         70.0       20.0      NaN
1        22.6         70.0       27.0      NaN
2        26.6        120.0       41.0      NaN
3        20.2         90.0       27.0      NaN
4        23.4         60.0       20.0      NaN
5        23.0         90.0       30.0      NaN
6        19.5         80.0       36.0      NaN
7        17.8         70.0       25.0      NaN
8        26.0        110.0       28.0      NaN
9        29.2        120.0       51.0      NaN
10       20.5         80.0       13.0      NaN
11       24.7         80.0       44.0      NaN
12       29.4        110.0       45.0      NaN
13       11.1         50.0       16.0      NaN
14       16.8         70.0       20.0      NaN
15        8.3         10.0       11.0      NaN
16        7.0         30.0       10.0      NaN
17       20.4         90.0       40.0      NaN
18       23.6         80.0       30.0      NaN
19       35.7         80.0       46.0      NaN
20        9.4         20.0       10.0      NaN
21       21.1         70.0       22.0      NaN
22       22.4         90.0       25.0      NaN
23       19.7         80.0       30.0      NaN
24       18.7        100.0       25.0      NaN
25       23.3         70.0       26.0      NaN
26       21.8         80.0       20.0      NaN
27       17.6         80.0       30.0      NaN
28        NaN          NaN        NaN      NaN

##### Step 12. Handling missing values

As you've probably noticed, there's an empty 'unnamed' column and a row with null values. 

When you encounter empty cells (missing values) in a DataFrame, you have several options for dealing with them:

- Deleting rows or columns: You can delete rows or columns containing missing values.

- Fill missing values: You can fill missing values with a specific value using pandas' fillna() method. You can choose to fill with a constant value, the mean, the median or other methods of your choice.

- Interpolation: You can use interpolation methods to estimate missing values based on neighboring values in the column...

The choice of method depends on the context of your data and the objective of your analysis. Some techniques may be more appropriate than others, depending on the nature of the data and the analyses you wish to perform.

###### a) Deleting rows or columns

In [126]:
cheese_V2.dropna(axis=1, how='all', inplace=True)
cheese_V2.dropna(thresh=2, inplace=True)
print(cheese_V2)

                cheese  calories  sodium  calcium  lipides  retinol  folates  \
0          CarredelEst     314.0   353.5     72.6     26.3     51.6     30.3
1              Babybel     314.0   238.0    209.8     25.1     63.7      6.4
2             Beaufort     401.0   112.0    259.4     33.3     54.9      1.2
3                 Bleu     342.0   336.0    211.1     28.9     37.1     27.5
4            Camembert     264.0   314.0    215.9     19.5    103.0     36.4
5               Cantal     367.0   256.0    264.0     28.8     48.8      5.7
6            Chabichou     344.0   192.0     87.2     27.9     90.1     36.3
7             Chaource     292.0   276.0    132.9     25.4    116.4     32.5
8              Cheddar     406.0   172.0    182.3     32.5     76.4      4.9
9                Comte     399.0    92.0    220.5     32.4     55.9      1.3
10         Coulomniers     308.0   222.0     79.2     25.6     63.6     21.1
11                Edam     327.0   148.0    272.2     24.7     65.7      5.5
12            Emmental     378.0    60.0    308.2     29.4     56.3      2.4
13  Fr.chevrepatemolle     206.0   160.0     72.8     18.5    150.5     31.0
14         Fr.fondu.45     292.0   390.0    168.5     24.0     77.4      5.5
15      Fr.frais20nat.      80.0    41.0    146.3      3.5     50.0     20.0
16      Fr.frais40nat.     115.0    25.0     94.8      7.8     64.3     22.6
17           Maroilles     338.0   311.0    236.7     29.1     46.7      3.6
18             Morbier     347.0   285.0    219.0     29.5     57.6      5.8
19            Parmesan     381.0   240.0    334.6     27.5     90.0      5.2
20       Petitsuisse40     142.0    22.0     78.2     10.4     63.4     20.4
21         PontlEveque     300.0   223.0    156.7     23.4     53.0      4.0
22            Pyrenees     355.0   232.0    178.9     28.0     51.5      6.8
23           Reblochon     309.0   272.0    202.3     24.6     73.1      8.1
24          Rocquefort     370.0   432.0    162.0     31.2     83.5     13.3
25         SaintPaulin     298.0   205.0    261.0     23.3     60.4      6.7
26                Tome     321.0   252.0    125.5     27.3     62.3      6.2
27            Vacherin     321.0   140.0    218.0     29.3     49.2      3.7

    proteines  cholesterol  magnesium
0        21.0         70.0       20.0
1        22.6         70.0       27.0
2        26.6        120.0       41.0
3        20.2         90.0       27.0
4        23.4         60.0       20.0
5        23.0         90.0       30.0
6        19.5         80.0       36.0
7        17.8         70.0       25.0
8        26.0        110.0       28.0
9        29.2        120.0       51.0
10       20.5         80.0       13.0
11       24.7         80.0       44.0
12       29.4        110.0       45.0
13       11.1         50.0       16.0
14       16.8         70.0       20.0
15        8.3         10.0       11.0
16        7.0         30.0       10.0
17       20.4         90.0       40.0
18       23.6         80.0       30.0
19       35.7         80.0       46.0
20        9.4         20.0       10.0
21       21.1         70.0       22.0
22       22.4         90.0       25.0
23       19.7         80.0       30.0
24       18.7        100.0       25.0
25       23.3         70.0       26.0
26       21.8         80.0       20.0
27       17.6         80.0       30.0

- cheese_V2.dropna(axis=0, inplace=True): This line removes rows containing missing values from the DataFrame cheese_V2. The parameter axis=0 indicates that rows are to be considered, and inplace=True means that the changes are made directly to the original DataFrame cheese_V2, modifying it in place.
- cheese_V2.dropna(axis=1, inplace=True): This line removes columns containing missing values from the DataFrame cheese_V2. The parameter axis=1 specifies that columns are to be considered, and inplace=True means that the changes are made directly to the original DataFrame cheese_V2, modifying it in place

###### b) Filling in missing values with the mean

In [127]:
#a) Calculate calories column mean
column_mean = cheese_V2['calories'].mean()  

#b) Replace missing values with column mean value
cheese_V2['calories'].fillna(column_mean, inplace=True)
#cheese_V2.fillna(cheese_V2.mean(), inplace=True)
cheese_V2.tail(5)

,cheese,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
23,Reblochon,309.0,272.0,202.3,24.6,73.1,8.1,19.7,80.0,30.0
24,Rocquefort,370.0,432.0,162.0,31.2,83.5,13.3,18.7,100.0,25.0
25,SaintPaulin,298.0,205.0,261.0,23.3,60.4,6.7,23.3,70.0,26.0
26,Tome,321.0,252.0,125.5,27.3,62.3,6.2,21.8,80.0,20.0
27,Vacherin,321.0,140.0,218.0,29.3,49.2,3.7,17.6,80.0,30.0

### Part 3. Other examples

#### Exercise 1. The IRIS dataset 

- Import dataset [`IRIS`](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv)
- Use the necessary functions to view the start and end of the DataFrame respectively
- How many rows and columns are there in the dataset? 
- Display the third row and the "sepal_width" column
- Display the third row
- Display the average of the sepal_length column
- Display the standard deviation of the sepal_length column
- Display the minimum of the sepal_length column
- Are there any missing values in the dataset?
- Set the values in rows 10 to 29 of the "petal_length" column to NaN.
- Now replace the NaN values by 1.0
- Set the first 3 lines to NaN
- Delete rows containing NaN: [`dropna`](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.dropna.html)
- Rename species column with class

In [200]:
import numpy as np
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris.head(1)

In [ ]:
iris.tail(1)

In [140]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [216]:
iris.iloc[2]['sepal_width']

3.9

In [215]:
iris.iloc[2]

sepal_length       5.4
sepal_width        3.9
petal_length       1.7
petal_width        0.4
class           setosa
Name: 5, dtype: object

In [213]:
iris.shape

(147, 5)

In [218]:
iris['sepal_length'].mean(numeric_only=True)

5.862585034013605

In [219]:
iris['sepal_length'].std()

0.8249708076490437

In [221]:
iris['sepal_length'].min()

4.3

In [224]:
print(" \nCount total NaN at each column in a DataFrame : \n\n", iris.isnull().sum())

Count total NaN at each column in a DataFrame :

 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [226]:
iris.loc[9:28,'petal_length'] = np.nan
iris[9:28]

    sepal_length  sepal_width  petal_length  petal_width   class
12           4.8          3.0           NaN          0.1  setosa
13           4.3          3.0           NaN          0.1  setosa
14           5.8          4.0           NaN          0.2  setosa
15           5.7          4.4           NaN          0.4  setosa
16           5.4          3.9           NaN          0.4  setosa
17           5.1          3.5           NaN          0.3  setosa
18           5.7          3.8           NaN          0.3  setosa
19           5.1          3.8           NaN          0.3  setosa
20           5.4          3.4           NaN          0.2  setosa
21           5.1          3.7           NaN          0.4  setosa
22           4.6          3.6           NaN          0.2  setosa
23           5.1          3.3           NaN          0.5  setosa
24           4.8          3.4           NaN          0.2  setosa
25           5.0          3.0           NaN          0.2  setosa
26           5.0          3.4           NaN          0.4  setosa
27           5.2          3.5           NaN          0.2  setosa
28           5.2          3.4           NaN          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa

In [199]:
iris.fillna(1, inplace=True)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [210]:
iris.loc[0:2]=np.NaN

In [211]:
iris.dropna(axis=0,inplace=True)

In [208]:
iris.rename(columns={"species": "class"}, inplace=True)

#### Exercise 2.
Create a Pandas dataFrame using the two variables declared below. The dictionary keys `exam_data` correspond to the column names of the DataFrame. The str list `labels` corresponds to the DataFrame index.
Then explore this DataFrame to detect and clean up any missing data.

In [ ]:
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['z', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import numpy as np
exam_data =

#### Exercise 3. 
- Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data
- Step 2. Download the dataset to your computer and unzip it.
- Step 3. Use the tsv file and assign it to the dataframe named "food" (sep='\t')
- Step 4. Determine the results of these lines without executing

In [ ]:
food.shape
food.shape[0]
food.columns
food.columns[104]

#### Exercise 4. Additional exercises

For additional exercises on data preparation with Pandas, here are some exercises with solutions https://github.com/guipsamora/pandas_exercises/tree/master/